
{% extends 'base/index.html' %}
{% block title %}Agregar Carga Familiar{% endblock title %}

{% load static %}

<!-- Corrección en el enlace del CSS -->
{% block linkPropios %}
    <link rel="stylesheet" href="{% static 'appTrabajador/css/agregarCargaFamiliar.css' %}" type="text/css">
{% endblock %}

{% block baseHtml %}
    <div class="container">
        <div class="tituloh1">
            <h1>Agregar Carga Familiar</h1>
        </div>
        <div class="form-edicion1">
            <form method="post" >
                {% csrf_token %}
                <label for="cf_nombre">Nombre:</label>
                <input type="text" id="cf_nombre" name="cf_nombre" required>
                <br>
                <label for="cf_parentesco">Parentesco:</label>
                <input type="text" id="cf_parentesco" name="cf_parentesco" required>
                <label for="cf_sexo">Sexo:</label>
                <select id="cf_sexo" name="cf_sexo">
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                    <option value="Otro">Otro</option>
                </select>
                <br>
                <button type="submit" class="btn btn-primary">Agregar Carga Familiar</button>
            </form>
        </div>
    </div>
{% endblock %}