{% extends 'base/index.html' %}

{% block title %}Listado de Solicitudes{% endblock %}

{% load static %}
{% block linkPropios %}
    <link rel="stylesheet" href="{% static 'appRRHH/css/listadoDeSolicitudes.css' %}">
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}

{% block dataTable-css %}
    <link rel="stylesheet" href=" https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap5.min.css">
{% endblock  %}

{% block baseHtml %}
<div class="container">
    
    <h1>Liquidaciones</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>RUT Trabajador</th>
            <th>Mes de Liquidación</th>
            <th>Archivo Liquidación</th>
        </tr>
        {% for liquidacion in liquidaciones %}
        <tr>
            <td>{{ liquidacion.id_liquidacion }}</td>
            <td>{{ liquidacion.rut }}</td>
            <td>{{ liquidacion.mes_liquidacion }}</td>
            <td>{{ liquidacion.archivo_liquidacion }}</td>
        </tr>
        {% endfor %}
    </table>
</div>


{% endblock %}



{% block dataTable %}
        <!-- Data table.jquery -->
      <script src=" https://code.jquery.com/jquery-3.5.1.js"></script>
      <!-- Data table.js -->
      <script src=" https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
      <script src=" https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js"></script>
      <!-- js propios -->
      {% comment %} <script src="{% static 'appRRHH/js/index.js' %}"></script> {% endcomment %}
{% endblock %}

{% block javascript %}
  <script type="application/javascript">
    $(document).ready(function(){
      new DataTable('#datatable-programmers', {
        responsive: true,
        "language": {
          "lengthMenu":"Cantidad de Items _MENU_ por Página",
          "search": "Buscar:",
          "info":"Pagina _START_ - _END_ de _TOTAL_ entradas",
          "infoEmpty": "Mostrando 0 to 0 de 0 entradas",
          "paginate": {
            "last": "Ultima pagina",
            "previous": "Anterior",
            "next": "Siguiente",
          }
        }
      });
    });
  </script>
{% endblock %}