
table{
    border: 1px solid white;
    border-collapse: collapse;
    width: 100%;
    
}
table th, table td{
    border: 1px solid rgb(255, 255, 255);
    padding: 8px;
    text-align: center;
    
}
table th{
    text-align: center !important;
    color: #f2f2f2;
    background: #1d0000;


    font-weight: bold;
}
table td {
    background: #536976;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    font-weight: bold;
}

.title-solicitudes{
    color: rgb(2, 13, 79);
    text-align: center;
}
.listado{
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
    border-radius: 6px;
}