{% extends 'base/index.html' %}
{% block title %}Ficha de Departamento{% endblock %}
{% load static %}
{% block linkPropios %}
    <link rel="stylesheet" href="{% static 'appRRHH/css/fichaDepartamento.css' %}" type="text/css">
{% endblock %}
{% block baseHtml %}
        <div class="container">
        <div class="title-departamento">
            <h1>Ficha de trabajador</h1>
            <h4>Creacion de Departamento</h4>

        </div>
            <form method="POST" action="{% url 'fichaDepartamento' %}" class="form-departamento">
                {% csrf_token %}
                <div class="id_area">
                    <label for="id_area" >Id Area:</label>
                    <select name="id_area" id="id_area" class="mx-auto">
                        {% for area in areas %}
                            <option value="{{ area.id_area }}" {% if forloop.last %}selected{% endif %}>{{ area.id_area }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="nombre_departamento">
                    <label for="departamento">Departamento:</label>
                    <input type="text" id="departamento" name="departamento" placeholder="Ingrese el Nombre del Departamento al que pertenece" required>
                </div>
                <br><br><br>
                <div>
                    <input type="submit" value="Registrar" class="d-grid gap-2 col-6 mx-auto btn-primary">
                </div>
                <div>
                    <button class="d-grid gap-2 col-6 mx-auto btn-primary" onclick="location.href='{% url 'fichaCargo' %}'">Continuar Sin Crear Departamento</button>
                </div>
            </form>
        </div>

{% endblock %}
