{% extends 'base/index.html' %}

{% block title %}Ficha de Trabajador{% endblock %}

{% load static %}

{% block baseHtml %}

    <div class="container">
        <div class="title-crearArea">
            <h1>Ficha de trabajador</h1>
        </div>
        <div>
            <form method="POST" action="{% url 'fichaArea' %}" class="form-area">
                {% csrf_token %}

                <div class="nombre_area">
                    <label for="nombre_area">Nombre de Area:</label>
                    <input type="text" id="nombre_area" name="nombre_area" placeholder="Ingrese el Nombre del Area al que pertenece" >
                </div>

                <div class="login-btn">
                    <input type="submit" value="Registrar" class="d-grid gap-2 col-6 mx-auto btn-primary">
                </div>
            </form>

        </div>
        <div>
            <button onclick="location.href='{% url 'fichaDepartamento' %}'">Continuar Sin Crear Área</button>
        </div>
    </div>


{% endblock %}