{% extends 'base/index.html' %}

{% block title %}Ficha de Trabajador{% endblock %}

{% load static %}

{% block baseHtml %}
    <div class="row">
    <div class="container">
        <div class="title-crearArea">
            <h1>Ficha de trabajador</h1>
            <h4>Creacion de Area</h4>
        </div>
        <div>

        </div>
        <div>
            <form method="POST" action="{% url 'fichaArea' %}" class="form-area">
                {% csrf_token %}

                <div class="nombre_area">
                    <input type="text" id="nombre_area" name="nombre_area" placeholder="Ingrese el Nombre Area" required >
                </div>

                <div class="login-btn">
                    <input type="submit" value="Registrar" class="d-grid gap-2 col-6 mx-auto btn-primary">
                </div>
                <div>
                    <button class="d-grid gap-2 col-6 mx-auto btn-primary" onclick="location.href='{% url 'fichaDepartamento' %}'">Continuar Sin Crear Área</button>
                </div>
            </form>

        </div>
    </div>

    </div>


{% endblock %}