{% extends 'base/index.html' %}
{% block title %}FiltroDeTrabajadores{% endblock %}


{% load static %}


{% block linkPropios %}
  <link rel="stylesheet" href="{% static 'appRRHH/css/crear.css' %}" type="text/css">
{% endblock %}

{% block baseHtml %}

<body>
    <div class="title-crear">
        <h1>Visualizar Listado de Trabajadores Filtrado</h1>
    </div>

    <form method="get" action="{% url 'filtro_trabajadores' %}" class="form-crear">
        <label for="sexo" class="form-crear">Sexo:</label>
        <select name="sexo" id="sexo" class="form-crear">
            <option value="">Todos</option>
            {% for sexo in sexos %}
                <option value="{{ sexo }}" {% if sexo == filtro_sexo %}selected{% endif %}>{{ sexo }}</option>
            {% endfor %}
        </select>

        <label for="cargo" class="form-crear">Cargo:</label>
        <select name="cargo" id="cargo" class="form-crear">
            <option value="">Todos</option>
            {% for cargo in cargos %}
                <option value="{{ cargo.nombre_cargo }}" {% if cargo.nombre_cargo == filtro_cargo %}selected{% endif %}>{{ cargo.nombre_cargo }}</option>
            {% endfor %}
        </select>

        <label for="area" class="form-crear">Área:</label>
        <select name="area" id="area" class="form-crear">
            <option value="">Todos</option>
            {% for area in areas %}
                <option value="{{ area.nombre_area }}" {% if area.nombre_area == filtro_area %}selected{% endif %}>{{ area.nombre_area }}</option>
            {% endfor %}
        </select>

        <label for="departamento" class="form-crear">Departamento:</label>
        <select name="departamento" id="departamento" class="form-crear">
            <option value="">Todos</option>
            {% for departamento in departamentos %}
                <option value="{{ departamento.departamento }}" {% if departamento.departamento == filtro_departamento %}selected{% endif %}>{{ departamento.departamento }}</option>
            {% endfor %}
        </select>

        <input type="submit" value="Filtrar" class="d-grid gap-2 col-6 mx-auto btn-primary">
    </form>

    <div class="title-crear">
        <h1>Resultados de Búsqueda: </h1>
    </div>
    <ul>
        {% for trabajador in trabajadores_filtrados %}
            <li>
                <p>Nombre: {{ trabajador.nombre }}</p>
                <p>Sexo: {{ trabajador.sexo }}</p>
                <p>Cargo: {{ trabajador.cargo.nombre_cargo }}</p>
                <p>Área: {{ trabajador.cargo.departamento.area.nombre_area }}</p>
                <p>Departamento: {{ trabajador.cargo.departamento.departamento }}</p>
            </li>
        {% endfor %}
    </ul>
</body>

{% endblock %}
