{% extends 'base/index.html' %}
{% block title %}modulo_RRHH{% endblock title %}

{% load static %}

    {% block linkPropios %}
        <link rel="stylesheet" href="{% static '/appDb/css/modulos.css' %}" type="text/css">
    {% endblock %}


{% block baseHtml %}

       <!-- Menu -->
    <section class="py-2 mt-3"  id="menu">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="h2 font-weight-light s-size text-center p-1">
                        GESTIÓN DE RECURSOS HUMANOS
                    </p>
                    <p class="lead text-center">Perfil de RRHH. </p><hr class="bg-dark">
                </div> 
            </div>
            <div class="card-columns">
                <div class="card">
                    <img src="{% static './appDb/img/ediTrabajadores.jpg' %}" class="card-img-top">
                    <div class="card-body">
                        <h3 class="h5 card-title">Listado de Trabajadores</h3>
                        <p class="card-text">
                            Visualiza la información de los trabajadores
                        </p>
                        <a class="btn btn-outline-dark" href="{% url 'listTrabajadores' %}">Ingresar</a>
                        <a class="btn btn-outline-dark" href="{% url 'filtro_trabajadores' %}">Listado Filtrado</a>
                    </div>
                </div>  
                <div class="card">
                    <img src="{% static './appDb/img/crearTrabajador.JPG' %}" class="card-img-top">
                    <div class="card-body">
                        <h3 class="h5 card-title">Gestionar Solicitudes</h3>
                        <p class="card-text">
                            Ingresa, edita y visualiza solicitudes
                        </p>
                        <a class="btn btn-outline-dark" href="{% url 'solicitudes' %}">Ingresar Solicitud</a>
                        <a class="btn btn-outline-dark" href="{% url 'listSolicitudes' %}">Ver Solicitudes</a>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static './appDb/img/verTrabajadores.JPG' %}" class="card-img-top">
                    <div class="card-body">
                        <h3 class="h5 card-title">Ficha Trabajador</h3>
                        <p class="card-text">
                            Registra información del trabajador
                        </p>
                        <a class="btn btn-outline-dark" href="{% url 'fichaTrabajador' %}">Ingresar</a>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static './appDb/img/verSolicitudes.png' %}" class="card-img-top">
                    <div class="card-body">
                        <h3 class="h5 card-title">Gestionar Registros Médicos</h3>
                        <p class="card-text">
                            Registra y visualiza registros médicos
                        </p>
                        <a class="btn btn-outline-dark" href="{% url 'crear_registro_medico' %}">Ingresar Registros</a>
                        <a class="btn btn-outline-dark" href="{% url 'ver_registro_medico' %}">Ver Registros</a>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static './appDb/img/action1.png' %}" class="card-img-top">
                    <div class="card-body">
                        <h3 class="h5 card-title">Evaluaciones de Desempeño</h3>
                        <p class="card-text">
                            Visualiza y crea registros de evaluaciones de desempeño 
                        </p>
                        <a class="btn btn-outline-dark" href="{% url 'crear_evaluacion' %}">Ingresar Evaluación</a>
                        <a class="btn btn-outline-dark" href="{% url 'ver_evaluacion' %}">Ver Evaluaciones</a>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static './appDb/img/action2.png' %}" class="card-img-top">
                    <div class="card-body">
                        <h3 class="h5 card-title">Gestionar Liquidaciones</h3>
                        <p class="card-text">
                            Gestiona las liquidaciones de los empleados
                        </p>
                        <a class="btn btn-outline-dark" href="{% url 'crear_liquidacion' %}">Ingresar Liquidación</a>
                        <a class="btn btn-outline-dark" href="{% url 'ver_ficha_liquidaciones' %}">Ver Liquidaciones</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
   
    
    <!-- Footer -->
    <section id="connect" class="p-2">
        <div class="container pt-2">
            <div class="row">
                <div class="col text-center">
                    <p class="h6 font-weight-light">&copy; Trípode </p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}