{% extends 'base/index.html' %}
{% block title %}modulo_RRHH{% endblock title %}

{% load static %}

    {% block linkPropios %}
        <link rel="stylesheet" href="{% static '/appDb/css/modulos.css' %}" type="text/css">
    {% endblock %}


{% block baseHtml %}

       <!-- Menu -->
    <section class="py-2 mt-3"  id="menu">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="h2 font-weight-light s-size text-center p-1">
                        GESTIÓN DE RECURSOS HUMANOS
                    </p>
                    <p class="lead text-center">Perfil de RRHH. </p><hr class="bg-dark">
                </div> 
            </div>
            <div class="card-columns">
                <div class="card">
                    <img src="{% static './appDb/img/ediTrabajadores.jpg' %}" class="card-img-top">
                    <div class="card-body">
                        <h3 class="h5 card-title">Editar Usuarios</h3>
                        <p class="card-text">
                            Personaliza la información de los trabajadores
                        </p>
                        <button class="btn btn-outline-dark"><i class="fa fa-arrow-right"></i> Ingresar</button>
                    </div>
                </div>  
                <div class="card">
                    <img src="{% static './appDb/img/crearTrabajador.JPG' %}" class="card-img-top">
                    <div class="card-body">
                        <h3 class="h5 card-title">Crear Ficha de Trabajador</h3>
                        <p class="card-text">
                            Ingresa datos personales y laborales de los trabajadores
                        </p>
                        <button class="btn btn-outline-dark"><i class="fa fa-arrow-right"></i> Ingresar</button>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static './appDb/img/verTrabajadores.JPG' %}" class="card-img-top">
                    <div class="card-body">
                        <h3 class="h5 card-title">Ver Trabajadores</h3>
                        <p class="card-text">
                            Visualiza los perfiles de usuario
                        </p>
                        <button class="btn btn-outline-dark"><i class="fa fa-arrow-right"></i> Ingresar</button>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static './appDb/img/verSolicitudes.png' %}" class="card-img-top">
                    <div class="card-body">
                        <h3 class="h5 card-title">Ver Solicitudes</h3>
                        <p class="card-text">
                            Visualiza las solicitudes ingresados por los trabajadores
                        </p>
                        <button class="btn btn-outline-dark"><i class="fa fa-arrow-right"></i> Ingresar</button>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static './appDb/img/action1.png' %}" class="card-img-top">
                    <div class="card-body">
                        <h3 class="h5 card-title">Evaluaciones de Desempeño</h3>
                        <p class="card-text">
                            Visualiza y crea registros de evaluaciones de desempeño para cada empleado
                        </p>
                        <button class="btn btn-outline-dark"><i class="fa fa-arrow-right"></i> Ingresar</button>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static './appDb/img/action2.png' %}" class="card-img-top">
                    <div class="card-body">
                        <h3 class="h5 card-title">Gestionar Contratos</h3>
                        <p class="card-text">
                            Gestiona la información de los contratos y acuerdos laborales de los empleados
                        </p>
                        <button class="btn btn-outline-dark"><i class="fa fa-arrow-right"></i> Ingresar</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
   
    
    <!-- Footer -->
    <section id="connect" class="p-2">
        <div class="container pt-2">
            <div class="row">
                <div class="col text-center">
                    <p class="h6 font-weight-light">&copy; Trípode </p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}