{% extends 'base/index.html' %}

{% block title %}Listado de Trabajador{% endblock %}

{% load static %}

{% block linkPropios %}
    <link rel="stylesheet" href="{% static 'appDb/css/listadoDeTrabajadores.css' %}">
{% endblock %}


{% block dataTable-css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap5.min.css">
{% endblock  %}

{% block baseHtml %}
  {% if request.session.nombre_usuario and request.session.nombre_perfil == 'RR.HH' %}

  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
        <br><br>
        <div class="listado">
          <div class="title-listado-trabajador">
            <h1>{{ title }}</h1>
          </div>
          <div class="table-responsive">
            {% if trabajadores %}
            <table id="datatable-programmers" >
              <thead>
                <tr>
                  <th>#</th>
                  <th>Rut</th>
                  <th>Nombre</th>
                  <th>Sexo</th>
                  <th>Cargo</th>
                </tr>
              </thead>
              <tbody>
                {% for trabajador in trabajadores %}
                <tr>
                  <th>{{ forloop.counter }}</th>
                  <td>{{ trabajador.rut }}</td>
                  <td>{{ trabajador.nombre }}</td>
                  <td>{{ trabajador.sexo }}</td>
                  <td>{{ trabajador.id_cargo__nombre_cargo }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% else %}
            <p>No se encontraron trabajadores registrados.</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endblock %}

{% block bootstrap5-js %}
{% endblock %}

{% block dataTable %}
        <!-- Data table.jquery -->
      <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <!-- Data table.js -->
      <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js"></script>
      <!-- js propios -->
      {% comment %} <script src="{% static 'appRRHH/js/index.js' %}"></script> {% endcomment %}
{% endblock %}

{% block javascript %}
  <script type="application/javascript">
    $(document).ready(function(){
      new DataTable('#datatable-programmers', {
        responsive: true,
        "language": {
          "lengthMenu":"Cantidad de Items _MENU_ por Página",
          "search": "Buscar:",
          "info":"Pagina _START_ - _END_ de _TOTAL_ entradas",
          "infoEmpty": "Mostrando 0 to 0 de 0 entradas",
          "paginate": {
            "last": "Ultima pagina",
            "previous": "Anterior",
            "next": "Siguiente",
          }
        }
      });
    });
  </script>
{% endblock %}
